@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<form class="form-group" method="post" action="/Category/Edit/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Name</label>
    <input type="text" class="form-control" name="Name" value="@ViewBag.Category.Name" />
    <br />
    <button type="submit" class="btn btn-dark col-md-2 mr-2">Modify</button>
</form>