@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "New";
}
<h2>Creare category</h2>

<form method="post" action="/Category/New">
    <div class="form-group">
        <label>Name</label>
        <br />
        <input type="text" name="Name" class="form-control" />
        <br />
        <button type="submit" class="btn btn-dark col-md-2 mr-2">Create</button>
    </div>
</form>