@model EngineDeStiri.Models.ApplicationUser

<h2>Edit comment</h2>
<form method="post" action="/Comment/Edit/@ViewBag.Comment.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-group">
        <label>Title</label>
        <br />
        <input type="text" name="Title" value="@ViewBag.Comment.Title" class="form-control" />
        <br />
        <label>Content</label>
        <br />
        <textarea type="text" name="Content" class="form-control" rows="3">@ViewBag.Comment.Content</textarea>
        <br />
        <button type="submit" class="btn btn-dark col-md-2 mr-2">Modify</button>
    </div>
</form>