@model EngineDeStiri.Models.IndexViewModel
@{
    ViewBag.Title = "My account";
}
<p><h3>Role: <b>@ViewBag.Role</b></h3></p>


@if (ViewBag.Role == "User" || ViewBag.Role == "Administrator" || ViewBag.Role == "Editor")
{
    <p><h5>Do you want to contribute?</h5></p>
    <div class="row mb-4" style="text-align:right;">
        <a role="button" href="/ArticleSuggestion/New" class="btn btn-dark col-md-2 mr-2">Make a suggestion!</a>
    </div>
}

@if (ViewBag.Role == "Administrator" || ViewBag.Role == "Editor")
{
    <p><h5>Editor functions</h5></p>
    <div class="row mb-4" style="text-align:right;">
        <a role="button" href="/Article/New" class="btn btn-dark col-md-2 mr-2">New Post</a>
        <a role="button" href="/Article/Quick" class="btn btn-dark col-md-2 mr-2">Quick Post</a>    
        <a role="button" href="/ArticleSuggestion/Index" class="btn btn-dark col-md-2 mr-2">Manage Suggestions</a>
    </div>
}

@if (ViewBag.Role == "Administrator")
{
    <p><h5>Administrator functions</h5></p>
    <div class="row mb-4" style="text-align:right;">
        <a role="button" href="/Article/Index" class="btn btn-dark col-md-2 mr-2">Manage Articles</a>
        <a role="button" href="/Category/Index" class="btn btn-dark col-md-2 mr-2">Manage Categories</a>
        <a role="button" href="/Comment/Index" class="btn btn-dark col-md-2 mr-2">Manage Comments</a>
        <a role="button" href="/Users/Index" class="btn btn-dark col-md-2 mr-2">Manage Users</a>
    </div>
}


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
