@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "New";
}
<h2>Suggest a story!</h2>

<form method="post" action="/ArticleSuggestion/New">
    <div class="form-group">
        <label>Title</label>
        <br />
        <input type="text" name="Title" class="form-control" style="width: 800px" />
        <br /><br />
        <label>Content</label>
        <br />
        <textarea type="text" name="Content" class="form-control" rows="10"></textarea>
        <br />
        <button type="submit" class="btn btn-dark col-md-2 mr-2">Submit</button>
    </div>
</form>