@model EngineDeStiri.Models.ApplicationUser

<form method="post" action="/Article/AddCategory/@ViewBag.ArticleId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Category:</label>
    <br />

    <div class="col-md-10">
        <select name="CategoryId">
                @foreach (var cat in ViewBag.CategoryId)
                {
                    <option value="@cat.CategoryId">@cat.Name</option>
                }
            
        </select>
    </div>

    <button type="submit">Add Category</button>
</form>
