@{
    ViewBag.Title = "All articles";
    int counter = 0;
}

<h1>@ViewBag.Title</h1>
@if (ViewBag.ShowAdditionalButtons == "Yes")
{
    <div class="row mb-4" style="text-align:right;">
        <a role="button" href="/Article/New" class="btn btn-dark col-md-2 mr-2">New Post</a>
        <a role="button" href="/Article/Quick" class="btn btn-dark col-md-2 mr-2">Quick Post</a>
    </div>
}

<div class="card-deck mb-3 text-center row">
    @foreach (var article in ViewBag.Articles)
    {

        if (counter != 0 && counter % 4 == 0)
        {
            @:</div>
            @:<div class="card-deck mb-3 text-center row">
        }
        counter++;

        <a href="/Article/Show/@article.ArticleId" class="col-md-3 d-flex flex-column each">
            <div class="card text-white bg-dark box-shadow d-flex flex-column">
                <img class="my-auto card-img-top" style="border-bottom: solid; border-color: white; height: 170px; object-fit: cover" src="@article.Thumbnail" alt="Card image cap">
                <div class="card-body d-flex flex-column" style="height: auto; padding: 5px;">
                    <div class="card-title" style=" position: relative; top: 50%; transform: translateY(-50%);">
                        <h5 style="font-size: 14px; font-weight: bold;">@article.Title</h5>
                    </div>
                </div>
            </div>
        </a>
    }
</div>