@{
    ViewBag.Title = "All articles";
    int counter = 0;
}

<h1>@ViewBag.Title</h1>
<div class="row mb-4" style="text-align:right;">
    <a role="button" href="/Article/New" class="btn btn-dark col-md-2 mr-2">New Post</a>
    <a role="button" href="/Article/Quick" class="btn btn-dark col-md-2 mr-2">Quick Post</a>
</div>


<div class="card-deck mb-3 text-center row">
    @foreach (var article in ViewBag.Articles)
    {
        if (counter != 0 && counter % 3 == 0)
        {
            @:</div>
            @:<div class="card-deck mb-3 text-center row">
        }
        counter++;
        <div class="col-md-4 d-flex flex-column">
            <div class="card text-white bg-dark box-shadow mb-4 d-flex flex-column">
                <img class="my-auto card-img-top" style="border-bottom: solid; border-color: white; height: 200px; object-fit: cover" src="@article.Thumbnail" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <div class="card-title">
                        <h5 class="font-weight-normal">@article.Title</h5>
                    </div>
                    <a role="button" href="/Article/Show/@article.ArticleId" class="mt-auto btn btn-block btn-outline-light">Read</a>
                </div>
            </div>
        </div>
    }
</div>