@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "New";
}
<h2>New</h2>
@Html.ValidationMessage("Empty")
<form method="post" action="/Article/New">
    <div class="form-group">
        <label>Title</label>
        <br />
        <input type="text" name="Title" class="form-control" />
        <br /><br />
        <label>Thumbnail URL</label>
        <br />
        <input type="text" name="Thumbnail" class="form-control" />
        <br /><br />
        <label>Headline</label>
        <br />
        <textarea type="text" name="Headline" class="form-control" rows="3"></textarea>
        <br /><br />
        <label>Content</label>
        <br />
        <!-- content must not be empty -->
        <textarea type="text" name="Content" class="form-control" rows="10"></textarea>
        <br />
        <button type="submit" class="btn btn-dark col-md-2 mr-2">Post</button>
    </div>
</form>
