@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "User list";
    int count = 1;
}
<p>
    <h2>@ViewBag.Title</h2>
</p>

<table class="table" style="margin: 0;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in ViewBag.UsersList)
        {
            <tr>
                <th scope="row">@count</th>
                <td>
                    <kbd>@user.UserName</kbd>                 
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id">
                        Details
                    </a>
                </td>
                <td>
                    <a class="btn btn-sm btn-success" href="/Users/Delete/@user.Id">
                        Delete
                    </a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
